@import "variables";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

$grid-gutter-width: 0rem !default;
$nav-link-padding-y: 0rem !default;
$nav-link-padding-x: 0rem !default;

$spacer: 0rem !default;
$navbar-padding-y: $spacer / 1 !default;
$navbar-toggler-padding-y: 0rem !default;
$navbar-toggler-padding-x: 0rem !default;

$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.8125rem !default;
$line-height-base: 1.615385;

$BlackPearl: $colorBlackPearl !default;
$white: $colorWhite !default;
$colors: (
  "BlackPearl": $BlackPearl,
  "white": $white,
) !default;
$primary: $BlackPearl !default;
$white: $white !default;
$link-color: $white !default;

$h1-font-size: $font-size-base * 4.76923 !default;
$h2-font-size: $font-size-base * 2.15385 !default;
$h3-font-size: $font-size-base * 1.53846 !default;
