body {
  // padding-top: 20px;
  // &:before {
  //   z-index: 10001;
  //   line-height: 20px;
  //   font-weight: bold;
  //   text-align: center;
  //   position: fixed;
  //   font-size: 20px;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 20px;
  //   background: limegreen;
  //   content: "Xsmall";
  // }
  // @include media-breakpoint-up(sm) {
  //   &:before {
  //     content: "small";
  //     background: #f00;
  //   }
  // }
  // @include media-breakpoint-up(md) {
  //   font-size: $font-size-base;
  //   &:before {
  //     content: "middle";
  //     background: green;
  //   }
  // }
  // @include media-breakpoint-up(lg) {
  //   &:before {
  //     content: "Large";
  //     background: turquoise;
  //   }
  // }
  // @include media-breakpoint-up(xl) {
  //   &:before {
  //     content: "XLarge";
  //     background: #f09;
  //   }
  // }
  // @include media-breakpoint-up(xxl) {
  //   &:before {
  //     content: "XXLarge";
  //     background: #90f;
  //   }
  // }
}
.header-wrapper {
  background: url("../images/img-wrapper.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 800px;
  width: 100%;
  color: $colorWhite;
  .bg-nav {
    background: $backgroundHaitiTransparent;
    padding-top: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    .navbar-wrap {
      max-width: 1170px;
      margin-top: 5px;
      .nav-logo span {
        position: relative;
        display: inline-block;
        margin-left: 44px;
        letter-spacing: 0.4px;
      }
    }
    .nav-text {
      margin-left: 15px;
      @include media(">=992px") {
        margin-left: 0;
      }

      span:before {
        background: $backgroundPictonBlue;
        position: absolute;
        content: "";
        width: 1px;
        height: 17px;
        top: 0;
        left: -22px;
      }
    }
  }
}
button[type="button"] {
  color: $colorWhite;
  border: 3px solid $colorWhite;
  position: relative;
  box-shadow: none;
  margin-right: 15px;
  @include media(">=992px") {
    margin-right: 0;
  }

  span::before,
  span::after {
    background: $colorWhite;
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    left: 4px;
  }
  span::before {
    top: 10px;
  }
  span::after {
    top: 20px;
  }
}
.nav-list {
  position: absolute;
  right: 15px;
  top: 100%;
  margin-top: 15px;
  @include media(">=992px") {
    position: static;
    margin-top: 0;
  }
  li {
    position: relative;
    margin-left: 17px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    @include media(">=992px") {
      margin-bottom: 0;
    }
    a {
      @include textFontFWS(500, 20px);
      @include media(">=992px") {
        @include textFontFWS(400, 13px);
      }
    }
    a:before {
      background: $backgroundPictonBlue;
      content: "";
      position: absolute;
      top: -27px;
      left: 0;
      width: 100%;
      height: 1px;
      display: none;
    }
  }
  li:hover > a:before {
    @include media(">=992px") {
      display: block;
    }
  }
  li:last-child > a {
    padding-right: 0;
  }
}

.intro {
  min-height: 730px;
  display: flex;
  align-items: flex-end;
  .introText {
    color: $colorWhite;
    h1 {
      font-weight: 300;
      margin-bottom: -10px;
      span {
        font-weight: 700;
      }
    }
    p {
      @include textFontFWS(300, 48px);
      margin-bottom: 10px;
      span {
        color: $colorSpringGreen;
      }
    }
    em {
      display: inline-block;
      margin-bottom: 92px;
      position: relative;
      padding: 0 32px;
      font-style: normal;
      @include textFontFWS(300, 18px);
    }
    em::before,
    em:after {
      background: $backgroundSpringGreen;
      content: "";
      width: 28px;
      height: 1px;
      position: absolute;
      top: 50%;
    }
    em::before {
      left: -28px;
    }
    em:after {
      left: 100%;
    }
    .intro-icon {
      text-align: center;
      margin-bottom: 62px;
      a {
        display: inline-block;
        position: relative;
        margin: 0 14px;
      }
      .icon::before {
        background-size: cover;
        content: "";
        position: absolute;
        top: 0;
        left: -9px;
        height: 18px;
        width: 18px;
      }
      .twitter::before {
        background: url("../images/sprite/sprite.svg#twitter") no-repeat;
      }
      .facebook::before {
        background: url("../images/sprite/sprite.svg#facebook") no-repeat;
      }
      .google:before {
        background: url("../images/sprite/sprite.svg#google") no-repeat;
      }
      .dribbble:before {
        background: url("../images/sprite/sprite.svg#dribbble") no-repeat;
      }
    }
  }
}
// Section
.section-wrapper {
  .bg-wrapper {
    background: $backgroundAquaHaze;
    min-height: 460px;
    .section-size {
      max-width: 1170px;
    }
  }
  .head-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 17px;
    font-size: 18px;
    h2 {
      color: $colorNiagara;
      font-weight: 800;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    span {
      background: url("../images/sprite/sprite.svg#heart-empty") no-repeat;
      background-size: cover;
      display: block;
      width: 17px;
      height: 16px;
      position: relative;
    }
    span::before,
    span:after {
      background-color: $backgroundSilverSand;
      width: 90px;
      height: 1px;
      position: absolute;
      content: "";
      top: 50%;
    }
    span:before {
      left: calc(-100% - 90px);
    }
    span:after {
      left: calc(100% + 20px);
    }
  }
}
.section-text {
  position: relative;
  padding-left: 50px;
  margin-top: 40px;
  @include media(">=768px") {
    padding-left: 80px;
  }
  h3 {
    font-weight: 600;
    color: $colorBlackPearl;
    margin-bottom: 18px;
  }
  p {
    color: $colorBlackPearl;
  }
  .section-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid $colorMountainMeadow;
    position: absolute;
    top: -45px;
    left: 60px;
    @include media(">=768px") {
      top: 4px;
      left: 25px;
    }
    border-radius: 50%;
  }
  .section-icon::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 12px;
  }
  .branding:before {
    background: url("../images/branding.png") no-repeat;
    width: 14px;
    height: 20px;
  }
  .development:before {
    background: url("../images/development.png") no-repeat;
    width: 16px;
    height: 16px;
  }
  .consulting:before {
    background: url("../images/consulting.png") no-repeat;
    width: 17px;
    height: 18px;
  }
}
.white-wrapper {
  min-height: 351px;
  .added-top-padding {
    padding-top: 20px;
  }
  p {
    padding-top: 27px;
    max-width: 940px;
  }
}
.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  padding-left: 0;
  @include media(">=768px") {
    flex-direction: row;
    max-width: 530px;
    margin-left: 76px;
  }
  li {
    list-style-type: none;
    position: relative;
    a {
      text-decoration: none;
      @include textFont(700, 14px, 21px, $colorBlackPearl);
    }

    a::after {
      background: $backgroundNiagara;
      content: "";
      width: calc(100% + 40px);
      height: 30px;
      position: absolute;
      border-radius: 4px;
      top: -5px;
      left: -20px;
      z-index: -1;
      display: none;
    }
  }
  li:hover > a {
    color: $colorWhite;
  }
  li:hover > a::after {
    display: inline-block;
  }
}

// Article
.rticle-wrapper {
  min-height: 600px;
}
.article-img {
  img {
    width: 100%;
    height: 100%;
  }
}
.img-bg-text {
  position: relative;
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    span {
      background: url("../images/labore.png") no-repeat;
      width: 40px;
      height: 40px;
      margin: 17px auto 27px;
      display: block;
    }
    em {
      font-style: normal;
      @include textFont(700, 18px, 21px, $colorWhite);
      margin-bottom: 5px;
    }
    p {
      @include textFont(400, 14px, 21px, $colorWhite);
    }
  }
}
.img-bg-text::after {
  background: $backgroundNiagaraTransparent;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
