$colorWhite: #ffffff;
$colorBlackPearl: #062033;
$colorNiagara: #0eb493;
$colorSpringGreen: #0feb9e;

$backgroundHaitiTransparent: #1016364f;
$backgroundPictonBlue: #32b0ee;
$backgroundSpringGreen: #0feb9e;
$backgroundAquaHaze: #f4f7f9;
$backgroundSilverSand: #c3c6c7;
